<!-- Create movies content page skeleton -->
<div id="tpl_add_video" >
        <div class="autocomplete" style="width:300px;">
            <input type="text" placeholder="{{#__}}TitleNamePH{{/__}}" class="form-control" id="titleName">
        </div>
        <button id="addtitle" type="button hidden" class="btn btn-primary">{{#__}}AddTitle{{/__}}</button>
        <!--a class="btn btn-primary " href="#series">{{#__}}AddSerie{{/__}}</a-->
    </h1>

    <table class="table">
        <tr>
                <th scope="col">{{#__}}ReleaseDate{{/__}}</th>
                <th scope="col">{{#__}}Rating{{/__}}</th>
                <th scope="col">{{#__}}RatingCount{{/__}}</th> 
        </tr>
        
        <tbody>
            <tr>
                <td scope="row" id="releasedate" ></td>
                <td id="rating"></td>
                <td id="ratingcount"></td>
            </tr>
        </tbody>
    </table>

    <div >{{#__}}Overview{{/__}}</div>
    <div id="overview"></div>

    <img id="poster" class="img-responsive poster" src=""/>
</div>