<!--common templates -->
<div id="poster_tpl" class="hidden">
    <div class="poster-list-item d-flex flex-column position-relative">
        <div class="poster_header d-flex position-absolute full-width">
            <div class="media_rating mr-auto ml-1">0</div>
            <a class="video_progress d-none" href="#transcoding">0%</a>
            <div class="video_broken material-icons">broken_image</div>
        </div> 
        <a class="poster_link" href="#link_here">
            <img class="img-fluid smallPoster" src=""/>
        </a>
        <!-- <div>Title ...</div>
        <div>1970</div>    -->
    </div>
</div>

<!-- <div class="poster-list-item position-relative">
    <div class="poster_header container-fluid position-absolute">
        <div class="media_rating position-absolute">0</div>
            <div class="video_broken material-icons float-right">broken_image</div>
            <a class="video_prsogress" href="#transcoding float-right">0%</a>
    </div> 
    <a class="poster_link" href="#link_here">
        <img class="img-fluid smallPoster" src=""/>
    </a>
    <div>Title ...</div>
    <div>1970</div>   
</div> -->