<!--common templates -->
<div id="poster_tpl" class="hidden">
    <div class="poster-list-item position-relative">
        <div class="poster_header container-fluid position-absolute">
            <div class="media_rating position-absolute">0</div>
                <div class="video_broken material-icons float-right">broken_image</div>
        </div> 
        <a class="poster_link" href="#link_here">
            <img class="img-fluid smallPoster" src=""/>
        </a>
        <div>Title ...</div>
        <div>1970</div>   
    </div>
</div>