<!-- Create movies content page skeleton -->
<div id="tpl_serie" >
    <div class="container-fluid no-gutters nopad" >
        <h1  id="serieName"></h1>
        <img id="poster" class="img-fluid mx-auto d-block poster" src=""/>
        
        

        <table class="table">
            <tr>
                    <th scope="col">{{lang.video.ReleaseDate}}</th>
                    <th scope="col">{{lang.video.Rating}}</th>
                    <th scope="col">{{lang.video.RatingCount}}</th> 
            </tr>
            
            <tbody>
                <tr>
                    <td scope="row" id="releasedate" >{{dyn.video.ReleaseDate}}</td>
                    <td id="rating">{{dyn.video.Rating}}</td>
                    <td id="ratingcount">{{dyn.video.RatingCount}}</td>
                </tr>
            </tbody>
        </table>

        <div >{{lang.video.Overview}}</div>
        <div id="overview">{{dyn.video.Overview}}</div>

        <div id="seasons">

        </div>

    </div>     
    <!-- <form class="box episodeBox" method="post" action="upload/series" enctype="multipart/form-data" id="box-1">
        <div class="box__input episodeBox" id="input-1" >
            <input class="box__file  inputfile" type="file" name="files[]" id="file-1" data-multiple-caption="{count} files selected" multiple />
            <label for="file-1" class="content centered">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                    <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg>
                <strong>Choose a file</strong>
                <span class="box__dragndrop"> or drag it here</span>.
            </label>
            <br>
            <button class="box__button" type="submit">Upload</button>
            
        </div>
        <div class="box__uploading">Uploading&hellip;</div>
        <div class="box__success">Done!</div>
        <div class="box__error">Error! <span></span>.</div>
    </form> -->
</div>

<!-- Templates -->
<div id="serie_season_tpl" class="hidden">
    <div class="accordion ">
        <div class="season-item card">
            <div class="card-header">
                <h4 class="panel-title">
                    <a data-toggle="collapse" class="card-link season_name" href="#collapse1">{{}}</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <ul class="list-group">
                </ul>
                <!--div class="panel-footer">Footer</div-->
            </div>
        </div>
    </div>

    <!-- <h2 class="season_name"></h2>
    <ul class="list_group"> -->
    <!-- </ul> -->
</div>

<div id="serie_episode_tpl" class="hidden">
    <li class="list-group-item episode-item d-flex">
        <!-- <div class="pull-left gap-right">
                <img id="poster" class="episode-image" src=""/>
        </div> -->

        <div class="float-left gap-right episode-bloc position-relative">
            <div class="video_header container-fluid position-absolute">
                    <div class="video_broken material-icons float-right">broken_image</div>
            </div>
            
            <form class="box episodeBox" method="post" action="upload/series" enctype="multipart/form-data" id="box-1">
                <img id="poster" class="episode-image bloc-image" src=""/>
                <div class="box__input" id="input-1" >
                    <input class="box__file  inputfile" type="file" name="files[]" id="file-1" data-multiple-caption="{count} files selected" multiple />
                    <br>
                </div>
                <div class="box__uploading">Uploading&hellip;</div>
                <div class="box__success">Done!</div>
                <div class="box__error">Error! <span></span>.</div>
            </form>
                        
            <div class="episode-menu float-right">
                <label for="file-1" class="d-inline">
                        <img src="img/download.png"/>
                </label>
                <div class="d-inline">
                    <img src="img/parameters24.png" />
                </div>
            </div>
        </div>
        
        <div class="episode-description d-flex flex-column ">
            <div>
                <div class="episode_number d-inline">{{_1}}</div>
                <div class="episode_title d-inline">{{_episode 1}}</div>
                <a class="overview-expand d-none d-sm-inline" data-toggle="collapse" href="#collapseOverview" role="button" aria-expanded="false" aria-controls="collapseOverview">...</a>
            </div>
            <div class="episode_overview collapse multi-collapse" id="collapseOverview">  
            </div>
            
        </div>

    </li>
</div>

<script>
    //# sourceURL=serie.js
</script>