<!-- Create movies content page skeleton -->
<div id="tpl_series" >

    <button id="add_serie_btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_serie_modal">{{AddSerie}}</button>
    <h1>My series</h1> 
    <div id="serie_list">
    </div>

    <!-- Modal -->
    <!-- Modal ADD MOVIE -->
    <div class="modal fade" style="display: none" id="add_serie_modal" tabindex="-1" role="dialog" aria-labelledby="addSerieLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="addSerieLabel">Add Serie</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="serieName">{{SerieNameLabel}}</label>
                    <div class="autocomplete" style="width:300px;"></div>
                        <input type="text" class="form-control" id="serieName">
                    </div>
                </div>
                    <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="text" class="form-control" id="pwd">
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>
</div>


<script>
    console.log("theMovieDb",theMovieDb);
    // Initialize
    // theMovieDb.search.getTv({"query":"Breaking%20Bad"}, 
    // function(data){
    //     console.log("Found ",data)
    // }, function(data){
    //     console.log("Failed seraching ",data);
    // });


    function autocomplete(inp, params) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function(e) {
            //console.log("ARR",arr);
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false;}
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < params.data.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (params.data[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                /*create a DIV element for each matching element:*/
                b = document.createElement("DIV");
                /*make the matching letters bold:*/
                b.innerHTML = "<strong>" + params.data[i].substr(0, val.length) + "</strong>";
                b.innerHTML += params.data[i].substr(val.length);
                /*insert a input field that will hold the current array item's value:*/
                b.innerHTML += "<input type='hidden' value='" + params.data[i] + "'>";
                /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function(e) {
                    /*insert the value for the autocomplete text field:*/
                    inp.value = this.getElementsByTagName("input")[0].value;
                    /*close the list of autocompleted values,
                    (or any other open lists of autocompleted values:*/
                    closeAllLists();
                });
                a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function(e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                /*and simulate a click on the "active" item:*/
                if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
            x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }

        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }

    var serieSearch = new Autocomplete(document.getElementById("serieName"),[],true);
    var bufferedSearch = new BufferedSearch(function(inputData){
        if(inputData.length > 1){
            // Initialize
            theMovieDb.search.getTv({"query":inputData}, 
            function(jsonData){
                let data = JSON.parse(jsonData);
                titles = [];
                for(var i=0; i<8 && i<data["results"].length;i++ ){
                    titles.push({label:data["results"][i].name,index:i});   
                }
                console.log("Found ",titles,document.getElementById("serieName"))
                //autocomplete(document.getElementById("serieName"), titles);
                serieSearch.updateArray(titles);
                //console.log("Found ",data)
            }, function(data){
                console.log("Failed seraching ",data);
            });
        } 
    });
    var titles = [];
    //autocomplete(document.getElementById("serieName"), autocompleteParams);

    $('#serieName').on('input', function() {
        bufferedSearch.doSearch($(this).val());
        
    });
    
</script>




