<!-- Create movies content page skeleton -->
<div id="tpl_series" >

        
    <a id="add_serie_btn" class="btn btn-primary" href="#addserie">{{AddSerie}}</a>
    
    <div class="d-flex  flex-wrap  mb-2 mt-2" id="all_series">
        <!-- <div class="row">

        </div> -->
    </div>


    <!-- <button id="add_serie_btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_serie_modal">{{AddSerie}}</button>
    <h1>My series</h1> 
    <div id="serie_list">
    </div>

    <div class="modal fade" style="display: none" id="add_serie_modal" tabindex="-1" role="dialog" aria-labelledby="addSerieLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addSerieLabel">Add Serie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="serieName">{{SerieNameLabel}}</label>
                        <div class="autocomplete" style="width:300px;"></div>
                        <input type="text" class="form-control" id="serieName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="text" class="form-control" id="pwd">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div> -->
<!--/div-->
</div>

<!--<template>-->
    <div id="poster_tpl" class="hidden">
        <div class="poster-list-item pr-auto position-relative">
            <div class="series_rating d-flex position-absolute">0</div>    
            <a class="series_link  " href="#serie">
                <img class="img-fluid smallPoster" src=""/>
                
                <!-- <div class="d-flex ">
                    <div class="series_titles ">Title 1970</div>
                    <div class="series_rating overlay ml-auto">0</div>
                 </div> -->
            </a>       
        </div>
    </div>
    
<!--</template>-->


<script>
    console.log("theMovieDb",theMovieDb);

</script>




