<!-- Create movies content page skeleton -->
<div id="tpl_users" >
    <div class="container-fluid no-gutters nopad" >
        <h1 >{{#__}}Storage{{/__}}</h1>

        <ul class="list-group" id="bricks_list">
            <!-- workers status here-->
        </ul>
    </div>

    <!-- add brick line here -->
    <label for="brick_name" class="mt-4">{{#__}}AddBrick{{/__}}:</label>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="descName">{{#__}}Alias{{/__}}</span>
        </div>
        <input id="brick_alias" type="text" class="form-control min80pix max100pix" placeholder="brick1" aria-describedby="descName">
        <div class="input-group-append">
            <span class="input-group-text" id="descPort">{{#__}}SharedPath{{/__}}</span>
        </div>
        <input id="brick_path" type="text" class="form-control min80pix" placeholder="/share1/streamy1" aria-describedby="descPwd">
        <div class="input-group-append">
            <button class="btn btn-success" type="button" id="addBrickButton">{{#__}}Add{{/__}}</button>
        </div>
    </div>  
</div>

<!-- Templates -->
<div id="brick_tpl" class="hidden">   
    <li class="list-group-item d-flex align-items-center">
        <div class="d-flex mr-auto align-items-center">
            <div class="brick_alias min80pix mr-1">someName</div>
            <div class="brick_path ml-1" >/SomePath</div>
        </div>
        <div class="d-flex flex-wrap">
            <button type="button" class="update_brick_btn btn btn-success material-icons mt-1 mr-2 d-none">save</button>
            <button type="button" class="remove_brick_btn btn btn-danger material-icons mt-1 mr-2">delete</button>
        </div>
    </li>
</div>