<!-- Create movies content page skeleton -->
<div id="tpl_transcoding" class="full_height scroll">
    <div class="container-fluid no-gutters nopad" >
        <h1 >{{#__}}Transcoding{{/__}}</h1>

        <ul class="list-group" id="tasks_list">
            <!-- transcoding status here-->
        </ul>
    </div>
</div>

<!-- Templates -->
<div id="task_status_tpl" class="hidden">
    <li class="list-group-item d-flex align-items-center">
        <div class="d-flex flex-wrap">
            <div class="done_status status alert-success ml-2 hidden">Done</div>
            <div class="error_status status alert-danger ml-2 ">Error</div>
            <div class="transcoding_status status alert-primary ml-2 mt-1">Transcoding</div>
            <div class="waiting_status status alert-warning ml-2 mt-1">Waiting</div>
            <div class="stopped_status status alert-dark ml-2 mt-1">Stopped</div>
        </div>
        <div class="d-flex flex-column no_min_width mr-auto">
            <div class="d-flex flex-wrap ml-2">
                <div class="media_name ">SomeName</div>
                <div class="task_progression ml-2">5%</div>
            </div>
            
                <div class="task_message text-truncate ml-2 hidden">
                    Message
                </div>

        </div>

        <div class="d-flex flex-wrap">
            <button type="button" class="remove_process_btn btn btn-danger ml-1 mr-1 mt-1">{{#__}}Remove{{/__}}</button>
            <button type="button" class="stop_process_btn btn btn-warning ml-1 mr-1 mt-1">{{#__}}Stop{{/__}}</button>
            <button type="button" class="start_task_btn btn btn-success ml-1 mr-1 mt-1">{{#__}}Start{{/__}}</button>
        </div>
    </li>
</div>