<!-- Create movies content page skeleton -->
<div id="tpl_worker" >
    <div class="container-fluid no-gutters nopad" >
        <h1 >{{#__}}Workers{{/__}}</h1>

        <ul class="list-group" id="worker_list">
            <!-- workers status here-->
        </ul>
    </div>

    <!-- add worker line here -->
    <label for="worker_host" class="mt-4">{{#__}}AddWorker{{/__}}:</label>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="descIp">IP</span>
        </div>
        <input id="worker_host" type="text" class="form-control" placeholder="192.168.1.42 or Some computer name" aria-describedby="descIp">
        <div class="input-group-append">
            <span class="input-group-text" id="descPort">Port</span>
        </div>
        <input type="number" class="port_input form-control" placeholder="7000" min="0" max="65535" aria-describedby="descPort">
        <div class="input-group-append">
            <button class="btn btn-success" type="button" id="addWorkerButton">{{#__}}Add{{/__}}</button>
        </div>
    </div>  
</div>

<!-- Templates -->
<div id="worker_status_tpl" class="hidden">
    <li class="list-group-item d-flex align-items-center">
        <div class="worker_ip">192.168.1.11:7000</div>
        <div class="online_status status alert-success ml-2 mr-auto hidden">Online</div>
        <div class="offline_status status alert-danger ml-2 mr-auto">Offline</div>
        <button type="button" class="disable_worker_btn btn btn-warning mr-2">{{#__}}Disable{{/__}}</button>
        <button type="button" class="enable_worker_btn btn btn-success mr-2">{{#__}}Enable{{/__}}</button>
        <button type="button" class="remove_worker_btn btn btn-danger">{{#__}}Remove{{/__}}</button>
    </li>
</div>